/* Define color variables */
:root {
    --background-color: #ffcc66; /* Light beige background */
    --text-color: black;
    --input-background: #FFDD95;
    --button-bg: #4CAF50;
    --button-hover-bg: #45a049;
    --accent-color: #ffcc66;
    --border-color: #ddd;
    --loader-border: #f3f3f3;
    --loader-bg: #3498db;
}

/* Fonts */
@font-face {
    font-family: 'Avenir Light';
    src: url('Avenir Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global styles */
body {
    font-family: 'Avenir Light', sans-serif;
    margin: 20px;
    background-color: var(--background-color);
}

h1, h2 {
    color: var(--text-color);
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: var(--accent-color);
    font-weight: normal;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.0em;
}

/* Form styles */
form {
    position: relative;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--input-background);
}

label {
    display: block;
    padding: 10px;
    color: var(--text-color);
}

input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    background: var(--background-color);
    font-family: 'Avenir Light', sans-serif;
    -webkit-appearance: none;
}

/* Submit button styles */
button[type="submit"] {
    background-color: var(--button-bg);
    color: white;
    padding: 10px;
    border: none;
    margin-top: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 5px;
    text-align: center;
    font-family: 'Avenir Light', sans-serif;
    width: 100%;
}

button[type="submit"]:hover,
button[type="submit"]:active {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
}

.suggestion-container {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    border-radius: 5px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion {
    font-weight: normal;
    color: var(--text-color);
    padding: 10px;
}

/* Loader animation styles */
.loader {
    display: none; /* Hide loader initially */
    position: absolute; /* Position absolute relative to the form */
    top: 50%; /* Center vertically in the form */
    left: calc(50% - 15px); /* Adjust left position with calc, considering loader width */
    transform: translate(-50%, -50%); /* Adjust the positioning correctly */
    z-index: 1000; /* Make sure it's above other elements */
    border: 4px solid var(--loader-border);
    border-radius: 50%;
    border-top: 4px solid var(--loader-bg);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    input, select, button[type="submit"] {
        padding: 15px;
        font-size: 16px;
    }

    form {
        padding: 15px;
    }
}
